<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Extended_Controls.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Extended_Controls.Properties.Settings>
            <setting name="MenuStrip_ForeColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="MenuStrip_MenuStripGradientBegin" serializeAs="String">
                <value>WhiteSmoke</value>
            </setting>
            <setting name="MenuStrip_MenuStripGradientEnd" serializeAs="String">
                <value>WhiteSmoke</value>
            </setting>
            <setting name="MenuStrip_MenuItemBorder" serializeAs="String">
                <value>LightBlue</value>
            </setting>
            <setting name="MenuStrip_MenuItemSelectedGradientBegin" serializeAs="String">
                <value>LightBlue</value>
            </setting>
            <setting name="MenuStrip_MenuItemSelectedGradientEnd" serializeAs="String">
                <value>WhiteSmoke</value>
            </setting>
            <setting name="MenuStrip_MenuItemPressedGradientBegin" serializeAs="String">
                <value>LightBlue</value>
            </setting>
            <setting name="MenuStrip_MenuItemPressedGradientEnd" serializeAs="String">
                <value>WhiteSmoke</value>
            </setting>
            <setting name="MenuStrip_MenuBorder" serializeAs="String">
                <value>LightBlue</value>
            </setting>
            <setting name="MenuStrip_MenuItemSelected" serializeAs="String">
                <value>LightBlue</value>
            </setting>
            <setting name="MenuStrip_ImageMarginGradientBegin" serializeAs="String">
                <value>WhiteSmoke</value>
            </setting>
            <setting name="MenuStrip_ImageMarginGradientMiddle" serializeAs="String">
                <value>WhiteSmoke</value>
            </setting>
            <setting name="MenuStrip_ImageMarginGradientEnd" serializeAs="String">
                <value>WhiteSmoke</value>
            </setting>
            <setting name="MenuStrip_Selected_ForeColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ContextStrip_ForeColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ContextStrip_Selected_ForeColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ContextStrip_MenuItemBorder" serializeAs="String">
                <value>LightBlue</value>
            </setting>
            <setting name="ContextStrip_MenuBorder" serializeAs="String">
                <value>LightBlue</value>
            </setting>
            <setting name="ContextStrip_MenuItemSelected" serializeAs="String">
                <value>LightBlue</value>
            </setting>
            <setting name="ContextStrip_ImageMarginGradientBegin" serializeAs="String">
                <value>WhiteSmoke</value>
            </setting>
            <setting name="ContextStrip_ImageMarginGradientMiddle" serializeAs="String">
                <value>WhiteSmoke</value>
            </setting>
            <setting name="ContextStrip_ImageMarginGradientEnd" serializeAs="String">
                <value>WhiteSmoke</value>
            </setting>
            <setting name="ContextStrip_MenuBackground" serializeAs="String">
                <value>WhiteSmoke</value>
            </setting>
        </Extended_Controls.Properties.Settings>
    </userSettings>
</configuration>